<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccloud.main.mapper.BusinessRequestLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ccloud.main.entity.BusinessRequestLog">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="user_id" property="userId" />
        <result column="method_name" property="methodName" />
        <result column="request_url" property="requestUrl" />
        <result column="request_way" property="requestWay" />
        <result column="description" property="description" />
        <result column="package_name" property="packageName" />
        <result column="parameter_split" property="parameterSplit" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, user_id, method_name, request_url, request_way, description, package_name, parameter_split, status, type, create_time, update_time
    </sql>

    <insert id="processData" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO business_request_log
        (app_id,user_id,method_name,request_url,request_way,description,package_name,parameter_split,status,type,create_Time,update_Time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.appId,jdbcType=INTEGER},
             #{item.userId,jdbcType=INTEGER},
             #{item.methodName,jdbcType=VARCHAR},
             #{item.requestUrl,jdbcType=VARCHAR},
             #{item.requestWay,jdbcType=VARCHAR},
             #{item.description,jdbcType=VARCHAR},
             #{item.packageName,jdbcType=VARCHAR},
             #{item.parameterSplit,jdbcType=VARCHAR},
             #{item.status,jdbcType=VARCHAR},
             #{item.type,jdbcType=VARCHAR},
             #{item.createTime,jdbcType=DATE},
             #{item.updateTime,jdbcType=DATE})
        </foreach>
    </insert>


</mapper>
