<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccloud.main.mapper.BusinessNoticeBaseConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ccloud.main.entity.BusinessNoticeBaseConfig">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="notice_title" property="noticeTitle"/>
        <result column="notice_info" property="noticeInfo"/>
        <result column="notice_icon" property="noticeIcon"/>
        <result column="notice_release_start_time" property="noticeReleaseStartTime"/>
        <result column="notice_release_end_time" property="noticeReleaseEndTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, notice_title, notice_info, notice_icon, notice_release_start_time, notice_release_end_time, create_time, update_time, status
    </sql>


    <select id="getLastNoticeByAppId" resultType="com.ccloud.main.entity.BusinessNoticeBaseConfig">
        select * from
        business_app_base_config babc,business_notice_base_config bu
        where babc.id = bu.app_id
        and babc.business_user_id = #{userId}
        and bu.notice_release_start_time &lt;= NOW()
        and bu.notice_release_end_time &gt;= NOW()
        and babc.status = 0
        limit 0,1

    </select>

    <select id="getAllNoticeByAppId" resultType="com.ccloud.main.entity.BusinessNoticeBaseConfig">
        select * from
        business_app_base_config babc,business_notice_base_config bu
        where babc.id = bu.app_id
        and babc.business_user_id = #{userId}
        and bu.notice_release_start_time &lt;= NOW()
        and bu.notice_release_end_time &gt;= NOW()
        and babc.status = 0

    </select>
</mapper>
